{{define "footer"}}
<footer>
    <div class="globalFLex container-footer">
        <div class="RowFLex border" id="container-searchbar">
            <input id="search-input" type="search" placeholder="Rechercher...">
            <datalist id="searchBar">
            </datalist>
            <button id="search-button">
                <img src="/static/Design/Images/Icon/search_white.svg">
            </button>
        </div>
        <div class="globalFLex border" id="container-filter">
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-title">
                    <span class="globalFLex" id="filter-text">Filtrer les posts</span>
                    <a href="/filter/">
                        <div id="filter-button">
                            <img src="/static/Design/Images/Icon/arrow_down.svg">
                        </div>
                    </a>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex filter">
                        <span class="toolBox-text">Actualité</span>
                    </button>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex filter">
                        <span class="toolBox-text">Art</span>
                    </button>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex filter">
                        <span class="toolBox-text">Cinéma</span>
                    </button>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex filter">
                        <span class="toolBox-text">Histoire</span>
                    </button>
                </div>
            </div>
            <div id="hiddenFilter" style="display: none;">
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex filter">
                            <span class="toolBox-text">Humour</span>
                        </button>
                    </div>
                </div>
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex filter">
                            <span class="toolBox-text">Internet</span>
                        </button>
                    </div>
                </div>
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex filter">
                            <span class="toolBox-text">Jeux Vidéo</span>
                        </button>
                    </div>
                </div>
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex filter">
                            <span class="toolBox-text">Nourriture</span>
                        </button>
                    </div>
                </div>
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex filter">
                            <span class="toolBox-text">Santé</span>
                        </button>
                    </div>
                </div>
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex filter">
                            <span class="toolBox-text">Sport</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="RowFLex" id="showMore-filterBox">
                <button id="showMore-filterButton">
                    <span id="showMore-filterText">Voir plus</span>
                </button>
            </div>
        </div>


        <div class="globalFLex border" id="container-sort">
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-title">
                    <span class="globalFLex" id="sort-text">Trier les posts</span>
                    <div id="sort-button">
                        <img src="/static/Design/Images/Icon/arrow_down.svg">
                    </div>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex sort">
                        <span class="toolBox-text">Les plus récents</span>
                    </button>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex sort">
                        <span class="toolBox-text">Les plus populaires</span>
                    </button>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex sort">
                        <span class="toolBox-text">Les plus commentés</span>
                    </button>
                </div>
            </div>
            <div class="globalFLex toolBox">
                <div class="RowFLex toolBox-content">
                    <button class="toolBox-button globalFLex sort">
                        <span class="toolBox-text">Les moins récents</span>
                    </button>
                </div>
            </div>
            <div id="hiddenSort" style="display: none;">
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex sort">
                            <span class="toolBox-text">Les moins populaires</span>
                        </button>
                    </div>
                </div>
                <div class="globalFLex toolBox">
                    <div class="RowFLex toolBox-content">
                        <button class="toolBox-button globalFLex sort">
                            <span class="toolBox-text">Les moins commentés</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="RowFLex" id="showMore-sortBox">
                <button id="showMore-sortButton">
                    <span id="showMore-sortText">Voir plus</span>
                </button>
            </div>
        </div>
    </div>
</footer>
{{end}}