body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: "Open-Sans-Extra";
    src: url("http://localhost:8088/static/Fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Open-Sans-SemiBold";
    src: url("http://localhost:8088/static/Fonts/open-sans-semibold.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("http://localhost:8088/static/Fonts/Montserrat-Regular.ttf");
}

a:hover,a:link,a:visited,a:active{
    color: black;
    text-decoration: none;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;
    width: 20%;
    height: 100vh;
    border-right: 1px solid rgb(47, 51, 54);
}

.container-body{
    display: flex;
    width: 100%;
    height: 100%;
}

.container-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
    height: 100%;
}

.container-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: start;
    padding-right: 12px;
    padding-left: 12px;
}

.logo{
    padding-top: 2px;
    padding-bottom: 2px;
}

.logo img{
    height: 40px;
    width: 50px;
}

.container-list{
    padding-top: 15px;
}

.container-link-menu{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.container-link-menu:hover .container-inlink{
    background-color: rgba(121, 75, 195, 0.1);
    border-radius: 100px;
    color: #794BC4;
    padding-left: 10px;
    transition-duration: 0.2s;
}

.container-link-menu:hover img{
    filter: invert(35%) sepia(12%) saturate(5335%) hue-rotate(232deg) brightness(94%) contrast(92%);
}

.container-inlink {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-inlink div{
    height: 100%;
}

.container-inlink span{
    font-size: 20px;
    padding-top: 1px;
    margin-left: 20px;
    margin-right: 16px;
    font-family: Open-Sans-Extra;
}

.container-profile{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
}

.container-in-profile{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 12px;
    position: relative;
    z-index: 0;
    align-items: center;
}

.container-prof{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    flex-wrap: nowrap;
    position: relative;
    z-index: 0;
    align-items: center;
    cursor: pointer;
}

.container-prof:hover{
    background-color: rgba(121,75,195,0.1);
    border-radius: 999px;
    margin-right: 10px;
}

.image-profile{
    border-radius: 999px;
}

.image-profile img{
    border-radius: 999px;
    width: 35px;
    height: 35px;
}

.pseudo-profile{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
    margin-left: 5px;
}

#pseudoname{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    font-family: Open-Sans-SemiBold;
}