@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('../../Fonts/open-sans-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url('../../Fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar{
    width: 0px;
}

.RowFlex{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    z-index: 0;
}

.globalFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    z-index: 0;
}
.border{
    border: 1px solid #707070;
}
.scroll-div{
    overflow-y: scroll;
}

body{
    overflow: hidden;
}

main{
    width: 50%;
    min-height: 100vh;
}
#main-box{
    height: 100vh;
    width: 100%;
}
#home-banner{
    background-color: #A266FC;
    height: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
#home-text{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-left: 10px;
}
#container-publish{
    margin-left: -1px;
    background-color: #F6F6F6;
    height: 200px;
    padding: 70px 20px 20px 20px;
    justify-content: space-between;
}
.container-avatar{
    align-items: center;
}
.border-avatar{
    height: 60px;
    aspect-ratio: 1/1;
    border: 1px solid #707070;
    border-radius: 50px;
}
.border-avatar img{
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}
#container-publishInputs{
    width: 60%;
}
#container-titlePost{
    height: 40px;
    width: 100%;
}
#insert-title{
    width: 99%;
    height: 100%;
    border: none;
    font-size: 18px;
}
#container-messagePost{
    height: 115px;
    width: 100%;
}
#insert-message{
    height: 96%;
    width: 94%;
    border: none;
    font-size: 18px;
    resize: none;
}
#container-publishButton{
    width: 6%;
    height: 100%;
    margin-top: -1px;
    margin-right: -1px;
}
#b{
    height: 99%;
    width: 99%;
    border: none;
    cursor: pointer;
    padding: 0;
}
#publishButton img{
    color: #8A3DFE;
}
#category{
    height: 155px;
    width: 25%;
    border: 2px solid #707070;
    border-radius: 11px;
    background-color: #A266FC;
}
#titleBox-category{
    background-color: #A266FC;
    height: 40px;
    border-bottom: 1px solid #707070;
    border-radius: 9px 9px 0 0;
    justify-content: center;
}
#title-text{
    font-family: "Open Sans", sans-serif;
    padding-left: 15px;
    color: white;
    font-size: 18px;
}
#category-boxs{
    border-radius: 0 0 9px 9px;
}
.category-box{
    height: 30px;
    border-bottom: 2px solid #707070;
    background-color: white;
    justify-content: center;
}
<<<<<<< HEAD
=======
.category-button{
     padding-left: 10px;
     padding-right: 25px;
     border: none;
     cursor: pointer;
     justify-content: space-between;
 }
.category-box:hover{
    background-color: rgba(130,80,200,0.2);
    transition-duration: 0.2s;
}
.active {
    background-color: rgba(130,80,200,0.2);
}
.text-category:hover{
    filter:none;
}
>>>>>>> feature/add_categories
#lastCategory-box{
    height: 30px;
    background-color: white;
    justify-content: center;
}
.category-button{
    padding-left: 10px;
    padding-right: 25px;
    border: none;
    cursor: pointer;
    background-color: white;
    justify-content: space-between;

}
.text-category{
    padding-left: 5px;
    font-size: 18px;
    color: #794BC4;
}
.colorBox-category{
    border: 2px solid #707070;
    border-radius: 50px;
    margin-top: 4px;
    height: 10px;
    width: 30px;
}
#colorBox1{
    background-color: #6600FF;
}
#colorBox2{
    background-color: #8A3DFE;
}
#colorBox3{
    background-color: #AC74FF;
}
#colorBox4{
    background-color: #4900BB;
}








.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}


/********** Espacements **********/

.paddingTop{
    padding-top: 12px;
    padding-bottom: 12px;
}

.paddingLeft {
    padding-right: 16px;
    padding-left: 16px;
}

.mRight {
    margin-right: 12px;
}

.mLeft {
    margin-left: 12px;
}

/********** Id **********/

#like:hover{
    filter: invert(78%) sepia(46%) saturate(4447%) hue-rotate(82deg) brightness(98%) contrast(95%);
}

#dislike:hover{
    filter: invert(26%) sepia(61%) saturate(6889%) hue-rotate(330deg) brightness(93%) contrast(88%);
}

#containerPost {
    display: flex;
    flex-basis: auto;
    flex-direction: column-reverse;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
}


/********** Texte **********/

.styleMessage {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.styleCategory {
    font-size: 13px;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}


/********** Hover **********/

.hover:hover{
    background-color: rgba(121,75,196,0.1);
}


/********** Reste **********/

.absolute {
    position: absolute;
    width: 100%;
}

.border {
    border-bottom: 1px solid red;
}

.cursor {
    cursor: pointer;
}

.radiusImage {
    border-radius: 999px;
}

.noUserSelect {
    user-select: none;
}

.filterLike {
    filter: invert(78%) sepia(46%) saturate(4447%) hue-rotate(82deg) brightness(98%) contrast(95%);
}

.filterDislike {
    filter: invert(26%) sepia(61%) saturate(6889%) hue-rotate(330deg) brightness(93%) contrast(88%);
}

.transition {
    transition-duration: 0.2s;
}



/*tesssssssssssssssssssssssssssssssssssssssssssssssssst*/


/********** Flexbox **********/

.RowFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}


/********** Espacements **********/

.paddingTop{
    padding-top: 12px;
    padding-bottom: 12px;
}

.paddingLeft {
    padding-right: 16px;
    padding-left: 16px;
}

.mRight {
    margin-right: 12px;
}

.mLeft {
    margin-left: 12px;
}

/********** Id **********/

#like:hover{
    filter: invert(78%) sepia(46%) saturate(4447%) hue-rotate(82deg) brightness(98%) contrast(95%);
}

#dislike:hover{
    filter: invert(26%) sepia(61%) saturate(6889%) hue-rotate(330deg) brightness(93%) contrast(88%);
}

#containerPost {
    display: flex;
    flex-basis: auto;
    flex-direction: column-reverse;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
}

#message-post{
    width: 90%;
}

#pop-up{
    display: none;
    position: absolute;
    width: 250px;
    background: #A266FC;
    border-radius: 5px;
    border: 2px solid #707070;
    animation: 1s ease topToBottom;
}

@keyframes topToBottom {
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0px);
    }
}

#pop-up span{
    color: white;
}

/********** Texte **********/

.styleMessage {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.styleCategory {
    font-size: 13px;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}


/********** Hover **********/

.hover:hover{
    background-color: rgba(121,75,196,0.1);
}

.pseudo-href:hover {
    text-decoration: underline;
}


/********** Reste **********/

.border {
    border-bottom: 1px solid red;
}

.cursor {
    cursor: pointer;
}

.radiusImage {
    border-radius: 999px;
}

.noUserSelect {
    user-select: none;
}

.filterLike {
    filter: invert(78%) sepia(46%) saturate(4447%) hue-rotate(82deg) brightness(98%) contrast(95%);
}

.filterDislike {
    filter: invert(26%) sepia(61%) saturate(6889%) hue-rotate(330deg) brightness(93%) contrast(88%);
}

.transition {
    transition-duration: 0.2s;
}

.images{
    width: 100%;
}

.imgHover:hover{
    background: rgba(121, 76, 196, 0.7);
    border-radius: 999px;
}

.hoverpop:hover {
    background: rgba(245,245,245,0.2);
    cursor: pointer;
}

.spanPopUp {
    margin-left: 10px;
    font-family: Open-Sans-SemiBold;
    font-size: 13px;
}

#pseudo-user{
    font-size: 15px;
    color: #A266FC;
    font-family: Open-Sans-Extra;
}

#title-user{
    position: relative;
    font-family: Open-Sans-SemiBold;
    font-size: 15px;
}

#link-post {
    padding: 5px 12px 5px 12px;
}