/*faire en sorte que les images ne change pas de dimension quand on change les dimensions de la fenetre*/
/*changer la police*/

html { overflow-y: hidden;
    overflow-x: hidden; } 

body{
    background: #15202B;
    display: flex;
}

/*---*/

#general{
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:100px;
    
}

#logo{
    width: 12%;
    aspect-ratio: 1/1.1;

    position: absolute;
    left: 44.5%;
    top: -3%;
    
}

#cadre{
    width: 35%;
    height: 85%;

    position: absolute;
    top :7%;
    left: 33%;
    text-align: center;
    
    padding-top: 10%;
}

.field{
    position: relative;
    height: 10%;
}



.test{
    position: relative;
    /* border: none; */
    width: 45%;
    height: 45px;
    padding-left :20px;
}

.mdp{
    position:relative;
    height: 10%;
    left :3.3%;
}  

.naissance{
    position: relative;
    width: 15.25%;
    height: 45px;

    padding-left :10px;  
    cursor: pointer;  

    font-family: "montserrat";
    font-size: 70%;
    color:rgb(94, 94, 94);
    
}

/*---*/

#oeil1{
    position: relative;
    width: 6%;
    height: 45%;
    left:-8%;
    top:18%;
    opacity: 80%;
    cursor: pointer;
}
#oeil1:hover{
    opacity: 100%;
}

#oeil2{
    position: relative;
    width: 6%;
    height: 45%;
    left:-8%;
    top:20%;
    opacity: 80%;
    cursor: pointer;
}
#oeil2:hover{
    opacity: 100%;
}

/*---*/

#bt{
    position : absolute;
    left: 25%;
    top: 58%;
    
    border:none;
    background: #794BC4;
    color:white;
    border-radius: 40px;

    font-family: "montserrat";
    font-size: 130%;

    width:50%;
    height: 6%;
    cursor: pointer;
}
#bt:hover{
    background: #5618b9;
}


/*---*/

#retour{
    position: absolute;
    left:96%;
    top: 93%;
    width: 3.001%;
    aspect-ratio: 1/1;
}
#retour:hover{
    opacity: 0%;
}
#retourViolet{
    position: absolute;
    left:96%;
    top: 93%;
    width: 3%;
    aspect-ratio: 1/1;
}
#retourviolet:hover{
    opacity: 100%;
}


















