/*faire en sorte que les images ne change pas de dimension quand on change les dimensions de la*/
/*changer la police*/

html { overflow-y: hidden; 
    overflow-x: hidden;} 

body{
    background: #15202B;
    display: flex;
}

#logo{
    width: 12%;
    aspect-ratio: 1/1.1;

    position: absolute;
    left: 44.5%;
    top: -3%;
    
}

#cadre{
    width: 35%;
    height: 85%;

    position: absolute;
    top :7%;
    left: 33%;
    text-align: center;
    
    padding-top: 10%;
}

#general{
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:180px;
}

.field{
    position: relative;
    height: 10%;
}

.test{
    position: relative;
    /* border: none; */
    width: 45%;
    height: 45px;
    padding-left :20px;
    
}

#oeil{
    position: relative;
    width: 6%;
    height: 45%;
    left:-8%;
    top:18%;
    opacity: 80%;
    cursor: pointer;
}

#oeil:hover{
    opacity: 100%;
}

#mdp{
    position:relative;
    left :3.3%;
    top:-2%;
}


#bt{
    position : relative;
    top: 1%;
    
    border:none;
    background: #794BC4;
    color:white;
    border-radius: 40px;

    width:50%;
    height: 6%;
    cursor: pointer;
}
#bt:hover{
    background: #5618b9;
}




















