@font-face {
    font-family: "Open-Sans-Extra";
    src: url("http://localhost:8088/static/Fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Open-Sans-SemiBold";
    src: url("http://localhost:8088/static/Fonts/open-sans-semibold.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("http://localhost:8088/static/Fonts/Montserrat-Regular.ttf");
}

body {
    background-color: whitesmoke;
}

.middle-container {
    z-index: 2;
    width: 60%;
    background-color: white;
}

#home-banner{
    background-color: #A266FC;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-text{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-left: 10px;
}

#up {
    width: 100%;
    height: 20%;
    padding: 0;
}

#down {
    width: 100%;
    height: 67.5%;
    padding: 0;
    border-top: 1px solid black;
    overflow-y: scroll;
}

.profil-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    background-color: white;
    border-radius: 150px 15px 15px 150px;
}

.avatar-container {
    margin-left: -2px;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

.avatar {
    aspect-ratio: 1/1;
    height: 100%;
    background: url(../Images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
}

.pseudo { 
    margin-left: 2.5%;
    width: 97.5%;
    height: 20%;
}

#pseudoid {
    font-family: "Open-Sans-SemiBold";
    font-size: 35px;
}

.country {
    margin-left: 2.5%;
    width: 97.5%;
}

#countryid {
    font-family: "Montserrat-Regular";
    font-size: 15px;
}

.bio {
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 97.5%;
    height: 70%;
    overflow-y: scroll;
}

#bioid {
    font-family: "Montserrat-Regular";
    font-size: 18px;
}

.icon-bio {
    width: 30px;
    height: 30px;
    left: 97.5%;
}

.setBio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97.5%;
    margin-left: 2.5%;
    margin-left: 2.5%;
}

.gear {
    position: relative;
    background: url(../Images/Icon/settingsGear.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.close {
    position: relative;
    background: url(../Images/Icon/close_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#newBio {
    width: 75%;
    grid-area: 1/1;
}

#send {
    background: url(../Images/Icon/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.post-container {
    margin-top: 2.5%;
    display: flex;
    flex-direction: scolumn;
    width: 100%;
}

footer {
    width: 15%;
    height: 100vh;
    border-left: 1px solid black;
}