/* police */

html { overflow-y: hidden; 
    overflow-x: hidden;
} 

body{
    display: flex;
    /* background: #794BC4; */
}

/*-----------------------*/

#gauche{
    position: relative;
    left: -2%;
    background-color: #794BC4;
    width: 80%;

    margin-right: -2%;
    margin-top:-2%;
}

#logo{
    width: 40%;
    aspect-ratio: 1/1.1;

    position: relative;
    left: 30%;
    top: 15%; 
}

/*-----------------------*/

#droite{
    position: relative;
    left:1%;
    margin-left: -2%;
    
    background-color: #15202B;
    width: 70%;
    height: 85em;
    margin-top:-2%;
}


h1{
    position: relative;
    top:15%;
    left:10%;
    color: white;
    font-size: 280%;
}

#auMax{
    position: relative;
    top:13%;
}

h2{
    position: relative;
    top:12%;
    left:10%;
    color: white;
}

/*---*/

#bt1{
    position : relative;
    top: 16%;
    left: 10%;

    height: 4%;
}

#bt2{
    position : relative;
    top: 18%;
    left: 10%;
    
    height: 4%;
}

#formeBt1{

    border:none;
    background: #794BC4;
    color:white;
    border-radius: 40px;

    width: 33%;
    height: 100%;
    cursor: pointer;
}
#formeBt1:hover{
    background: #531da8;

}

#formeBt2{

    background: #f0f0f0;
    color:#794BC4;
    text-decoration:white;
    border: 3px solid #794BC4;
    border-radius: 40px;

    width: 33%;
    height: 100%;
    cursor: pointer;
}
#formeBt2:hover{
    background: #531da8;
    color:#ffffff;
    border: 3px solid #531da8;
}

/*---*/
