/*-----------------
* Général
-----------------*/

*{
    margin : 0;
    padding : 0;
}

html { overflow-y: hidden; 
    overflow-x: hidden;
}

#general{
    display: flex;
    height: 100vh;
}

/*-----------------
* Partie Gauche
-----------------*/

#gauche{
    background-color: #794BC4;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 40%;
    aspect-ratio: 1/1.1;
}

/*-----------------
* Droite
-----------------*/

#droite{ 
    background-color: white;
    width: 48%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid blue; */
    
}

#generalDroit{
    
    margin-top:-150px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height: 110%;
    
    /* border: 3px solid rgb(149, 4, 168); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-----------------
* Partie Droite | texte
-----------------*/

#textDroit{
    position: relative;
    left:50px;
    width: 80%;
    height: 20%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
    text-align: left;
}

h1{
    position: relative;
    top:15%;
    color: white;
    font-size: 250%;
}

#auMax{
    position: relative;
    top:15%;
}

h2{
    position: relative;
    top:15%;
    color: white;
}

/*-----------------
* Partie Droite | boutton
-----------------*/

#boutonDroit{
    width: 43.5%;
    height: 20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red; */
    margin-top: 5%;
    margin-left:auto;
    margin-right: auto;
    
}

#formeBt1{
    background: #794BC4;
    border: 3px solid #794BC4;
    color:white;
    border-radius: 40px;
    font-size: 200%;

    width: 100%;
    height: 150%;
    cursor: pointer;
}
#formeBt1:hover{
    background: #531da8;
    border: 3px solid #531da8;
}

#formeBt2{

    background: #f0f0f0;
    color:#794BC4;
    font-size: 200%;
    border: 3px solid #794BC4;
    border-radius: 40px;
    margin-top:10%;

    width: 100%;
    height: 90%;
    cursor: pointer;
}
#formeBt2:hover{
    background: #531da8;
    color:#ffffff;
    border: 3px solid #531da8;
}
