/********** Font **********/


/********** Balises **********/

body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    overflow:auto scroll;
}

main{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
    align-items: flex-start;
}

section{
    height: 100%;
}


/********** Flexbox **********/

.globalFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
}

.RowFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    position: relative;
    z-index: 0;
}


/********** Container **********/

.container-main{
    width: 990px;
    height: 100vh;
    border-right: 1px solid black;
}

.container-account{
    position: sticky;
    z-index: 1;
    backface-visibility: hidden;
}

.container-link-main{
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.container-link-icon{
    margin-right: 16px;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
}


/********** Textes **********/

.container-account h2{
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    font-family: Open-Sans-Extra;
}

.explication-settings{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 12px 16px;
    font-family: Montserrat-Regular;
    border-bottom: 1px solid rgb(47, 51, 54);
    border-top: 1px solid rgb(47, 51, 54);
}

.style-link{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    overflow-wrap: break-word;
    font-family: Montserrat-Regular;
}

.textStyle {
    font-family: Montserrat-Regular;
    font-size: 15px;
    font-weight: 700;
}


/********** Hover **********/

.link-in-main:hover{
    background-color: rgba(121,75,195,0.1);
    transition-duration: 0.2s;
    color: #794bc4;
}

.image:hover{
    background-color: rgba(121,75,195,0.1);
    border-radius: 999px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}


/********** Espacements **********/

.paddingTop{
    padding-top: 12px;
    padding-bottom: 12px;
}

.paddingLeft {
    padding-right: 16px;
    padding-left: 16px;
}


/********** Image **********/

.link-in-main:hover img{
    filter: invert(35%) sepia(12%) saturate(5335%) hue-rotate(232deg) brightness(94%) contrast(92%);
}


/********** Id **********/

#lineDeactivate:hover {
    background-color: rgba(121, 75, 195, 0.1);
}

#deactivateAcc:hover {
    background-color: rgba(224, 36, 94, 0.1);
}

#buttonDeactivAcc{
    background-color: transparent;
    border: 0px solid transparent;
}


/********** Reste **********/

.link-in-main{
    padding: 12px 16px;
    justify-content: space-between;
    outline-style: none;
    border-bottom: 1px solid rgb(47, 51, 54);
    min-height: calc(48px);
}

.transition {
    transition-duration: 0.2s;
}


