@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('../../../../../Fonts/open-sans-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url('../../../../../Fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.RowFlex{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    z-index: 0;
}
.globalFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    z-index: 0;
}
.border{
    border: 1px solid #707070;
}
footer{
    height: 100vh;
    width: 25%;
    background-color: #F5F5F5;
    color: #707070;
    font-weight: 500;
}
.container-footer{
    padding-left: 17.95%;
    height: 100vh;
    justify-content: space-around;
}
#container-searchbar{
    height: 50px;
    width: 70%;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
#search-input{
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    background-color: #ffffff;
    width: 70%;
    border: none;
    margin-left: 22px;
    outline: none;
}
#search-button{
    height: 50px;
    width: 60px;
    border: none;
    background-color: #8A3DFE;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
}
#search-button img{
    width: 30px;
    aspect-ratio: 1/1;
}
#container-filter, #container-sort{
    width: 70%;
    border-radius: 20px;
    background-color: white;
}
.toolBox{
    height: 60px;
    border-bottom: 1px solid #707070;
    justify-content: center;
    font-size: 18px;
    font-family: "montserrat";
}
.toolBox-title{
    padding: 20px;
    justify-content: space-between;
}
.toolBox-content{
    height: 100%;
    width: 100%;
}
.toolBox-button:hover{
    background-color: rgba(121,75,195,0.1);
    color: #8A3DFE;
    transition-duration: 0.2s;
}
.toolBox-button{
    height: 100%;
    width: 100%;
    padding: 20px;
    border:none;
    background-color: white;
    cursor: pointer;
    color: #707070;
    font-size: 18px;
}
.filterBox-text{
    display: flex;
    justify-content: space-between;
}
#filter-text, #sort-text{
    justify-content: center;
}
#filter-button, #sort-button{
    border: none;
    background-color: white;
}
#filter-button img, #sort-button{
    height: 30px;
    aspect-ratio: 1/1;
    transform: rotate(270deg);
    cursor: pointer;
}

#filter-button img:hover, #sort-button:hover{
    background-color: rgba(121,75,195,0.1);
    border-radius: 50px;
    transform: translateX(5px);
    padding: 5px;
    transition-duration: 0.2s;
}
.content-filterBox{
    cursor: pointer;
}
.filterBox:hover{
    background-color: rgba(121,75,195,0.1);
    color: #8A3DFE;
    transition-duration: 0.2s;
}
.filterCheckbox-text{
    padding-left: 10px;
}
#showMore-filterBox, #showMore-sortBox{
    padding: 10px 10px 10px 25px;
}
#showMore-filterButton, #showMore-sortButton{
    color: #8A3DFE;
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}