@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('../../../Fonts/open-sans-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url('../../../Fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.RowFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    z-index: 0;
}
.globalFLex{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    z-index: 0;
}
.border{
    border: 1px solid #707070;
}

footer {
    height: 100vh;
    width: 25%;
    background-color: #15202B;
    color: #707070;
    font-weight: 500;
}

.container-footer{
    padding-left: 17.95%;
    height: 100vh;
    justify-content: space-around;
}
#container-searchbar{
    height: 50px;
    width: 70%;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
#search-input{
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    background-color: #ffffff;
    width: 70%;
    border: none;
    margin-left: 22px;
    outline: none;
}
#search-button{
    height: 50px;
    width: 60px;
    border: none;
    background-color: #8A3DFE;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
}
#search-button img{
    width: 30px;
    aspect-ratio: 1/1;
}
#container-filter, #container-sort{
    width: 70%;
    border-radius: 20px;
    background-color: white;
}
.filter-box{
    height: 60px;
    border-bottom: 1px solid #707070;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-family: "montserrat";
}
.filterBox-text{
    display: flex;
    justify-content: space-between;
}
#filter-text, #sort-text{
    justify-content: center;
}
#filter-button, #sort-button{
    border: none;
    background-color: white;
}
#filter-button img, #sort-button img{
    height: 30px;
    aspect-ratio: 1/1;
}
#showMore-filterBox, #showMore-sortBox{
    padding: 10px 10px 10px 25px;
}
#showMore-filterButton, #showMore-sortButton{
    color: #8A3DFE;
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}