*{
    margin : 0;
    padding : 0;
}

html { overflow-y: hidden; 
    overflow-x: hidden;
}

/*-----------------------*/

#general{
    display: flex;
    height: 100vh;
}

#gauche{
    background-color: #794BC4;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 450px;
    aspect-ratio: 1/1.1;

}

/*-----------------------*/

#droite{ 
    background-color: #15202B;
    width: 45%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#generalDroit{
    
    margin-top:-150px;
    margin-left:auto;
    margin-right: auto;
    width: 1000px;
    height: 1800px;
    
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#textDroit{
    width: 60%;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
    /* margin:0 auto; */
    /* border: 3px solid green; */
    text-align: center;
}

h1{
    position: relative;
    top:15%;
    color: white;
    font-size: 45px;
}

#auMax{
    position: relative;
    top:15%;
}

h2{
    position: relative;
    top:15%;
    color: white;
}

/*---*/

#boutonDroit{
    width: 400px;
    height: 250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red; */
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    
}

#formeBt1{
    border:none;
    background: #794BC4;
    color:white;
    border-radius: 40px;
    font-size: 200%;

    width: 100%;
    height: 90px;
    cursor: pointer;
}
#formeBt1:hover{
    background: #531da8;
}

#formeBt2{

    background: #f0f0f0;
    color:#794BC4;
    font-size: 200%;
    border: 3px solid #794BC4;
    border-radius: 40px;
    margin-top:20px;

    width: 100%;
    height: 90px;
    cursor: pointer;
}
#formeBt2:hover{
    background: #531da8;
    color:#ffffff;
    border: 3px solid #531da8;
}

/*---*/
