@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('../../Fonts/open-sans-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url('../../Fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------
* General
-------------------------*/

*{
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    overflow: hidden;
}


body {
    min-height: 100%;
    background: #15202B;
    font-family: "Open Sans", sans-serif;
}

#general{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 40px;
    width: 500px;
    height: 700px;
    border:1px solid white;
    border-radius: 6px;
}

/*-----------------------
* Logo
-------------------------*/
#zoomImage{
    margin: 0 auto;
    width: 400px;
    height: 200px;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
}

#logo{
    width: 50%;
    aspect-ratio: 1/1;
}

/*-----------------------
* Formulaire
-------------------------*/
body{
	font-family: 'Noto Sans', sans-serif;
    background: #15202B;
}

/*-----*/

#formulaire{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	/* border:1px solid white; */
    margin-top:150px;
	border-radius:3px;
	padding-top:20px;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:50px;
}

/*---*/

.caseFormulaire{
/* 	border:1px solid #555;  */
	width:320px;
	
}

.boxInput{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
}

.boxInput label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}

.boxInput input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.boxInput input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.boxInput input:focus ~ label,
.boxInput input:valid ~ label{
	top:-12px;
	font-size:12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

/*---*/

#generalBtn{
/* border:1px solid #555; */
	width:115px;
	height:35px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}


.btn{
    width: 100%;
    height: 100%;
	color:#fff;
	background-color:#794BC4;
	outline: none;
    border: 0;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}





/*---*/

.oeil{
    position: relative;
    top:-45px;
    left:360px;
    width: 30px;
    height: 30px;
    opacity: 80%;
    cursor: pointer;
}
#oeil1{
    position: relative;
    top:-50px;
}

.oeil:hover{
    opacity: 100%;
}

#btRandom{
    position: relative;
    left:385px;
    top:-50px;

    border:none;
    background-color: #794BC4;
    color:white;
    border-radius: 40px;

    font-family: "montserrat";
    font-size: 130%;

    width: 50px;
    height: 45px;
    cursor: pointer;
}

#imgMdp{
    width: 37px;
    aspect-ratio: 1/1;
}

/* Zone message d'erreur */

#zoneMessErreur {
    margin-top: 6px;
    font-family: "montserrat";
    color: red;
    font-size: 18px;
    text-align: center;
}